<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>会員入力</title>
    <link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
	<div>
		<img src="/img/logo.png" width="80px" style="text-align: right"/>
	</div>
    <nav>
        <ul>
            <li>
                 <a th:href="@{/admin/menu}">メニュー</a>
            </li>
            <li>
                <a th:href="@{/admin/login}">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <form th:action="@{/admin/user/update}" method="post"
			th:object="${member}">

            <table>
                <tr>
                    <td>
                        有効／無効
                    </td>
                    <td style="text-align: left;"><label>有効<input type="radio" 
                                 th:field="*{invalidFlg}" value="valid"/></label>
                                 <label>無効<input type="radio" th:field="*{invalidFlg}" value="invalid"/></label>
                    </td>

                </tr>
                <tr>
                    <td>
                        メールアドレス*
                    </td>
                    <td style="text-align: left;"><input type="text" 
							th:field="*{mailAddress}" /></td>
                </tr>
                <tr>
                    <td>
                        パスワード*
                    </td>
                    <td style="text-align: left;"><input type="password" 
							th:field="*{password}" /></td>
                </tr>
                <tr>
                    <td>
                        氏名*
                    </td>
                    <td style="text-align: left;"><input type="text"
							th:field="*{name}" /></td>
                </tr>
                <tr>
                    <td>
                        会員名（表示名）*
                    </td>
                    <td style="text-align: left;"><input type="text"
							th:field="*{displayName}" /></td>
                </tr>
                <tr>
                    <td>
                        生年月日
                    </td>
                    <td style="text-align: left;"><input type="date"
							th:field="*{birthday}" /></td>
                </tr>
                <tr>
                    <td>
                        郵便番号
                    </td>
                    <td style="text-align: left;"><input type="text"
							th:field="*{postNumber}" /></td>
                </tr>
                <tr>
                    <td>
                        住所
                    </td>
                    <td style="text-align: left;"><input style="width: 100%;" type="text"
                           th:field="*{address}" /></td>
                </tr>

            </table>
            	<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>
				<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
				<div th:if="${#fields.hasErrors('displayName')}" th:errors="*{displayName}"></div>
				<div th:if="${#fields.hasErrors('postNumber')}" th:errors="*{postNumber}"></div>
				<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
				<div th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"></div>
				
				
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{version}" />
				
				<span th:if="message">[[${message}]]</span>
				
            <div>
                <a th:href="@{/admin/user/list}">キャンセル</a><input type="submit" value="更新" />
            </div>
        </form>
    </main>
</body>

</html>