<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/security/tags">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="../css/common.css" />
</head>
<body>
	<main>
		<form th:action="@{/login_check}" method="post">
			<table>
				<tr>
					<td>ログインID</td>
					<td><input type="text" name="user_id" /></td>
				</tr>
				<tr>
					<td>パスワード</td>
					<td><input type="password" name="password" /></td>
				</tr>
			</table>
			<input type="submit" value="送信（アクション）" />
			  <span th:if="message">[[${message}]]</span>
		</form>
	</main>
</body>
</html>