<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security/tags">

<head>
    <meta charset="utf-8" />
    <title>トピック一覧</title>
    <link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a th:href="@{/admin/menu}">メニュー</a>
            </li>
            <li>
                <a th:href="@{/admin/login}">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <div style="text-align: right;">
            <a th:href="@{/admin/topic/insert/input(id=${player.id})}">登録</a>
        </div>
        <div style="text-align: left;">
                        [[${player.name}]]選手のトピック管理
        </div>
        <div style="width:100%;">
<span th:if="message">[[${message}]]</span>
            <table>
                <tr>
                    <td>
                        トピック
                    </td>
                    <td>
                        更新
                    </td>
                </tr>
                <tr th:each="topic : ${topicList}">
                    <td th:text="${topic.topic}"></td>
                    <td><a th:href="@{/admin/topic/update/input(id=${topic.id})}">更新</a>
                    </td>
                
                
                </table>
               
        </div>
    </main>

</body>

</html>
    