<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <title>トピック一覧</title>
    <link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a th:href="@/topic/menu.html">メニュー</a>
            </li>
            <li>
                <a th:href="@/topic/login.html">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <div style="text-align: right;">
            <a th:href="@{/topic/insert/input}">登録</a>
        </div>
        <div style="text-align: left;">
            [${name}]]選手のトピック管理
        </div>
        <div style="width:100%;">

            <table>
                <tr>
                    <td>
                        トピック
                    </td>
                    <td>
                        更新
                    </td>
                </tr>
                <tr>
                    <td>
                        [${name}]]選手大好きな人集まれー！
                    </td>
                    <td><a th:href="@{/topic/update/input(id=${topic.id})}">更新</a></td>
                </tr>
                <tr>
                    <td>
                        ガイナーレの心臓！[${name}]]を語ろう。
                    </td>
                    <td><a th:href="@{/topic/update/input(id=${topic.id})}">更新</a></td>
                </tr>
                <tr>
                    <td>
                        これまでの[${name}]]のプレーで、一番しべれるやつ
                    </td>
                    <td><a th:href="@{/topic/update/input(id=${topic.id})}">更新</a></td>
                </tr>
            </table>
        </div>
    </main>

</body>

</html>