<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>トピック登録完了</title>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a th:href="@{/admin/menu}">メニュー</a>
            </li>
            <li>
                <a th:href="@{/admin/login}">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
                <input type="hidden" th:field="*{topic}" />
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{player}" />
                <input type="hidden" th:field="*{invalidFlg}" />
				<input type="hidden" th:field="*{version}" />
    <main>
        <div>[[${name}]]選手のトピック管理</div>
        <div>「[[${topic}]]」の更新が完了しました。</div>
        <div><a th:href="{/admin/topic/list}" target="_blank">トピック一覧</a></div>
    </main>
</body>

</html>