<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>トピック更新確認</title>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>

<body>
    <main>
        <div style="text-align: left;">
            [[${player.name}]]選手のトピック管理
        </div>
        <form th:action="@{/admin/topic/update/update}" method="post" th:object="${topic}">
            <div>
                <table>
                    <tr>
                        <td>
                            トピック
                        </td>
                        <td style="text-align: left;"><span th:text="*{topic}"></span></td>

                    </tr>
                </table>
                <div>
                    
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{player}" />
                    <input type="hidden" th:field="*{topic}" />
				    <input type="hidden" th:field="*{invalidFlg}" />
                    <input type="hidden" th:field="*{version}" />
                    
                    <a th:href="@{/admin/topic/update/input(id=${topic.id})}">キャンセル</a><input type="submit" value="更新" />
                </div>
            </div>
        </form>
    </main>
</body>

</html>