<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>選手入力確認</title>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>

<body>
    <main>
        <div style="text-align: left;">
            [${name}]]選手のトピック管理
        </div>
        <form th:action="@{/admin/player/update/confirm}" method="post" th:object="${topic}">
            <div>
                <table>
                    <tr>
                        <td>
                            トピック
                        </td>
                        <td style="text-align: left;">これまでのXXのプレーで、一番しゃべれるやつ</td>

                    </tr>
                </table>
                <div>
                    <a th:href="@{/admin/topic/update/input(id=${topic.id})}">キャンセル</a><input type="submit" value="更新" />
                </div>
            </div>
        </form>
    </main>
</body>

</html>