<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>選手登録完了</title>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a th:href="@{/admin/menu}">メニュー</a>
            </li>
            <li>
                <a th:href="@{/admin/login}">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <div>〇〇　〇〇選手の更新が完了しました。</div>
    </main>
</body>

</html>