<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>選手更新確認</title>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>


<body>
    <main>
        <form th:action="@{/admin/player/update/update}" method="post" th:object="${player}">
            <div>
                <table>
                    <tr>
                        <td>
                            選手名
                        </td>
                        <td style="text-align: left;"><span th:text="*{name}"></span></td>

                    </tr>
                    <tr>
                        <td>
                            生年月日
                        </td>
                        <td style="text-align: left;"><span th:text="*{birthday}"></span></td>
                    </tr>
                    <tr>
                        <td>
                            ポジション
                        </td>
                        <td style="text-align: left;"><span th:text="*{position}"></span></td>

                    </tr>
                    <tr>
                        <td>
                            コメント
                        </td>
                        <td style="text-align: left;"><span th:text="*{comment}"></span></td>
                    </tr>
                    <tr>
                        <td>
                            写真
                        </td>
                        <td style="text-align: left;">ファイル名</td>
                    </tr>
                </table>
                <div>
                	<input type="hidden" th:field="*{id}" />
           			<input type="hidden" th:field="*{name}" />
           			<input type="hidden" th:field="*{birthday}" />
           			<input type="hidden" th:field="*{position}" />
           			<input type="hidden" th:field="*{comment}" />
              		<input type="hidden" th:field="*{image}" />
              		<input type="hidden" th:field="*{version}" />
		
                    <a th:href="@{/admin/player/update/input}">キャンセル</a><input type="submit" value="登録" />
                </div>
            </div>
        </form>
    </main>
</body>

</html>