<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>選手入力確認</title>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>

<body>
	<div>
		<img src="/img/logo.png" width="80px"/>
	</div>
    <main>
        <form th:action="@{/admin/player/insert/insert}" method="post" th:object="${player}">
			<input type="hidden" th:field="*{name}" />
			<input type="hidden" th:field="*{birthday}" />
			<input type="hidden" th:field="*{position}" />
			<input type="hidden" th:field="*{comment}" />
			<input type="hidden" th:field="*{imageFileName}" />
            <div>
                <table>
                    <tr>
                        <td>
                            選手名
                        </td>
                        <td style="text-align: left;"><span th:text="*{name}"></span></td>

                    </tr>
                    <tr>
                        <td>
                            生年月日
                        </td>
                        <td style="text-align: left;"><span th:text="*{birthday}"></span></td>
                    </tr>
                     <tr>
                        <td>
                            ポジション
                        </td>
                        <td style="text-align: left;"><span th:text="*{position}"></span></td>

                    </tr>
                    <tr>
                        <td>
                            コメント
                        </td>
                        <td style="text-align: left;"><span th:text="*{comment}"></span></td>
                    </tr>
                    <tr>
                        <td>
                            写真
                        </td>
                        <td style="text-align: left;">
                        	<div th:text="*{imageFileName}"></div>
                        	<img th:src="@{'/upload_img/' + *{imageFileName}}" />
                        </td>
                    </tr>
                </table>
                <div>
                    <a th:href="@{/admin/player/insert/input}">キャンセル</a><input type="submit" value="登録" />
                </div>
            </div>
        </form>
    </main>
</body>

</html>