<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>選手更新完了</title>
    <link rel="stylesheet" href="../../../css/common.css" />
</head>

<body>
	<div>
		<img src="/img/logo.png" width="80px" style="text-align: right"/>
	</div>
    <nav>
        <ul>
            <li>
                <a th:href="@{/admin/menu}">メニュー</a>
            </li>
            <li>
                <a th:href="@{/admin/login}">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
    <main>
        <div>[[${player.name}]]選手の削除が完了しました。</div>
    </main>
</body>
</html>