<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security/tags">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
    <link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a th:href="@{/admin/menu}">メニュー</a>
            </li>
            <li>
                <a th:href="@{/admin/login}">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
        <main>
            <div style= "text-align: right;">
			<a th:href="@{/admin/item/insert/input}">登録</a>
			</div>
        <form th:action="@{/admin/item/search}" method="post" th:object="${search}">
            <div style="width:100%;">
            <div th:if="${#fields.hasErrors('searchWord')}" th:errors="*{searchWord}"></div>
            <span th:if="message">[[${message}]]</span>
                <div>
                
                    <input type="text" th:field="*{searchWord}"/>
                    <input type="submit" value="検索" />
                    
                <div th:text="${completeMessage}"></div>
                    
                <div style="margin-top: 20px;">
                    <table>
                        <tr>
                            <td>
                                商品名
                            </td>
                            <td>
                                商品説明
                            </td>
                            <td>
                                価格
                            </td>
                            <td>
                                試合(対戦相手)
                            </td>
                            <td>
                                試合日
                            </td>
                            <td>
                                削除
                            </td>
                        </tr>
                        <tr th:each="item : ${itemList}">
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.itemExplain}"></td>
                            <td th:text="${item.price}"></td>
                            <th:block th:if="${item.gameId != null}" >
                            	<td th:text="${item.gameId.matchTeam}"></td>
                            	<td th:text="${item.gameId.matchDate}"></td>
                            </th:block>     
                            <th:block th:if="${item.gameId == null}" > 
                            	<td >-</td>
                            	<td >-</td>
                            </th:block>                                                                        
                            <td><a th:href="@{/admin/item/delete(id=${item.id})}">削除</a></td>
                        </tr>                                                    
                    
                    	<tr th:each="search : ${itemSearchList}">
                            <td th:text="${search.name}"></td>
                            <td th:text="${search.itemExplain}"></td>
                            <td th:text="${search.price}"></td> 
                            <th:block th:if="${search.gameId != null}" >
                            	<td th:text="${search.gameId.matchTeam}"></td>
                            	<td th:text="${search.gameId.matchDate}"></td> 
                            </th:block>
                            <th:block th:if="${search.gameId == null}" > 
                            	<td >-</td>
                            	<td >-</td>
                            </th:block> 
                            <td><a th:href="@{/admin/item/delete(id=${search.id})}">削除</a></td>                                             
                    	</tr>                    	
                    </table>
                </div>    
                </div>
                
                
            </div> 
        </form>       
               
        </main>

</body>

</html>