<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/security/tags">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
    <link rel="stylesheet" href="../../css/common.css" />
</head>

<body>
    <nav>
        <ul>
            <li>
                <a th:href="@{/admin/menu}">メニュー</a>
            </li>
            <li>
                <a th:href="@{/admin/login}">ログアウト</a>
            </li>
            <li class="clear">
            </li>
        </ul>
    </nav>
        <main>
            <div style= "text-align: right;">
			<a th:href="@{/admin/item/insert/input}">登録</a>
			</div>
        <form th:action="@{/admin/item/search}" method="post" th:object="${itemSearch}">
            <div style="width:100%;">
            <span th:if="message">[[${message}]]</span>
                <div>
                
                    <input type="text" th:field="*{searchWord}"/>
                    <input type="submit" value="検索" />
                    
                <div th:text="${completeMessage}"></div>
                    
                <div style="margin-top: 20px;">
                    <table>
                        <tr>
                            <td>
                                商品名
                            </td>
                            <td>
                                商品説明
                            </td>
                            <td>
                                価格
                            </td>
                        </tr>
                        <tr th:each="item : ${itemList}">
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.itemExplain}"></td>
                            <td th:text="${item.price}"></td>                                               
                            <td><a th:href="@{/admin/item/delete(id=${item.id})}">削除</a></td>
                        </tr>                                                    
                    
                    
                    	<tr th:each="searchItem : ${itemSearchList}">
                            <td th:text="${searchItem.name}"></td>
                            <td th:text="${search.itemExplain}"></td>
                            <td th:text="${searchItem.price}"></td>                                                 
                    	</tr>
                    </table>
                </div>    
                </div>
                
                
            </div> 
        </form>       
               
        </main>

</body>

</html>